scripts=[
    "
		create group WKND_Authors with path /home/groups/wknd		
		create group WKND_Approvers with path /home/groups/wknd
       	
		add WKND_Authors, WKND_Approvers to group content-authors
		add WKND_Authors, WKND_Approvers to group template-authors
		add WKND_Authors, WKND_Approvers to group workflow-users
		add WKND_Authors, WKND_Approvers to group experience-fragments-editors

		set ACL for WKND_Authors
        	deny crx:replicate on /content/wknd,/content/experience-fragments,/content/dam/wknd        	
        	allow jcr:write,rep:write on /apps/wknd/i18n
        end

    "
]